<div>
  <h1>CADASTRO AO SISTEMA</h1>

  <!--Periodo de pré-inscrição (alterar texto para pós inscrição):-->
  <div>
    <p class="text-center">
      <b
        >Devido a problemas técnicos, as inscrições iniciarão no dia 07/01/2020 a partir das 08:00
        horas.</b
      >
    </p>
    <p class="text-center">
      <b
        >Antes de se inscrever, leia o edital
        <a href="https://www.associacaopaideia.org.br/assets/pdf/edital.pdf">AQUI</a></b
      >
    </p>
  </div>

  <!--Periodo de inscrição:-->
  <!-- <div class="" v-if="ver">
    <div class="text-center">
      O cadastro ao sistema deve ser realizado para prosseguir com a inscrição.
      <br />
      Após realizar o cadastro, você receberá um e-mail com o código de
      confirmação, e após validar o código no site, poderá acessar sua conta para
      fazer a inscrição.<br />
      <br />
      <b>ATENÇÃO! Esse cadastro não garante sua vaga ao projeto!</b>
      <br />
    </div>
      <div class="row flex-center">
        <div class="col-sm-8">
          <div show class="alert alert-danger mt-3 text-center" role="alert">
            Cadastro válido somente durante o periodo de inscrição!
          </div>
          <br />
        <form class="row" [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
          <div class="form-group col-sm-6">
            <label class="labelCampo" for="nome" >Nome:</label>
            <input
              type="text"
              name="nome"
              id="nome"
              class="form-control"
              placeholder="Digite seu nome"
              formControlName="nome"
              required
            />
          </div>

          <div class="form-group col-sm-6">
            <label class="labelCampo" for="sobrenome"
              >Sobrenome (completo):</label
            >
            <input
              type="text"
              name="sobrenome"
              id="sobrenome"
              class="form-control"
              placeholder="Digite seu sobrenome"
              formControlName="sobrenome"
              required
            />
          </div>

          <div class="form-group col-sm-6">
            <label class="labelCampo" for="email"
              >E-mail (pessoal e de uso diário):</label
            >
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              placeholder="Digite seu e-mail"
              formControlName="email"
              required
            />
          </div>

          <div class="form-group col-sm-6">
            <label class="labelCampo" for="Senha">Senha:</label>
            <input
              type="password"
              name="senha"
              id="senha"
              class="form-control"
              placeholder="Digite sua senha"
              formControlName="senha"
              required
            />
          </div>

          <div class="form-group col-sm-6">
            <label class="labelCampo" for="confirmaSenha"
              >Confirme sua senha:</label
            >
            <input
              type="password"
              name="confirmaSenha"
              id="confirmaSenha"
              class="form-control"
              placeholder="Digite sua senha novamente"
              formControlName="confirmaSenha"
              required
            />
          </div>

          <div class="text-center col-sm-12">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
          </div>


        </form>
      </div>
    </div>
  </div> -->
</div>


 <!-- <div
            class="alert alert-danger"
            role="alert"
            dismissible
            :show="senhaDiferente"
            class="mt-2"
          >
            A senha está divergente!
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            dismissible
            :show="cadastroDuplicado != ''"
            class="mt-2"
          >
            E-mail já está cadastrado! Recupere sua senha clicando
            <a href="/recuperacao">AQUI</a>
          </div> -->
