label {
  color: black;
  font-weight: initial;
  font-size: 105%;
}
legend {
  color: $verdeEscuro;
  font-weight: bold;
}
.opcaoSelecao {
  color: $verdeDark;
  font-weight: initial;
  margin-bottom: 8px;
  font-size: 105%;
}
.campo-obrigatorio {
  color: $verdeEscuro;
  font-weight: bold;
  font-size: 90%;
}
