label {
  color: black;
  font-weight: initial;
  font-size: 105%;
}
.labelCampo {
  color: #527A25;
  font-weight: bold;
}
.opcaoSelecao {
  color: rgb(51, 88, 9);
  font-weight: initial;
  margin-bottom: 8px;
  font-size: 105%;
}
.campo-obrigatorio {
  color: #527A25;
  font-weight: bold;
  font-size: 90%;
}
