<img
  src="../../../assets/logo/logo_paideia.png"
  class="img-fluid"
  alt="Logo Paideia"
/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Início</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Alterna navegação"
    routerLinkActive="active"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre" routerLinkActive="active"
          >Sobre</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/noticias" routerLinkActive="active"
          >Notícias</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contato" routerLinkActive="active"
          >Contato</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/perguntas" routerLinkActive="active"
          >Perguntas Frequentes</a
        >
      </li>
      <!-- ATIVAR NAS INSCRIÇÕES -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro" routerLinkActive="active"
          >Cadastre-se</a
        >
      </li> -->
      <!-- <li class="nav-item" *ngIf="nivel !== null">
        <a
          class="nav-link"
          routerLink="/inscricao/termos"
          routerLinkActive="active"
          >Inscrições 1º semestre 2020</a
        >
      </li> -->
      <li class="nav-item" *ngIf="nivel !== null && inscrito_atual == 1">
        <a class="nav-link" routerLink="/simulado" routerLinkActive="active"
          >Simulado</a
        >
      </li>
      <li class="nav-item" *ngIf="nivel !== null && inscrito_atual == 1">
        <a
          class="nav-link"
          routerLink="/resultado-simulados"
          routerLinkActive="active"
          >Perfil</a
        >
      </li>
      <li class="nav-item" *ngIf="adm === 1">
        <a
          class="nav-link"
          routerLink="/adm/inscritos"
          routerLinkActive="active"
          >Administrador</a
        >
        <!-- apenas adm -->
      </li>
      <li class="nav-item" *ngIf="nivel === null">
        <a class="nav-link" routerLink="/acesso" routerLinkActive="active"
          >Acesse sua conta</a
        >
      </li>

      <li class="nav-item dropdown" *ngIf="nivel !== null">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Olá, {{ nome }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <button class="dropdown-item" (click)="logout()">Sair</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
