<div>
  <h1>Cadastro Simulado</h1>

  <form [formGroup]="formSimuladoCadastro" (ngSubmit)="onSubmit()">
    <div class="">Questão {{ listagem.dados[0].qtdPerguntas + 1 }}</div>
    <!-- IMPLEMENTAR DEPOIS ABAIXO -->
    <!-- <b-form-select
      v-model="dados.materia"
      :options="optionsMateria"
      required
    ></b-form-select> -->

    <!-- <b-form-input
      v-model="dados.linkImg"
      type="text"
      placeholder="link da imagem"
    ></b-form-input> -->

    <div class="form-group">
      <label for=""
        >Possui imagem? Se sim coloque o link no campo abaixo:</label
      >
      <input
        type="text"
        class="form-control"
        name="linkImg"
        id="linkImg"
        formControlName="linkImg"
        placeholder="link da imagem"
      />
    </div>

    <!-- <b-form-group label="Enunciado">
      <b-form-textarea
        v-model="dados.enunciado"
        type="text"
        rows="10"
        placeholder="Escreva a pergunta aqui."
      ></b-form-textarea>
    </b-form-group> -->

    <div class="form-group">
      <label for="">Enunciado</label>
      <textarea
        class="form-control"
        id=""
        rows="10"
        placeholder="Escreva a pergunta aqui."
        formControlName="enunciado"
      ></textarea>
    </div>

    <table class="table">
      <tr>
        <th scope="row" class="align-middle">a)</th>
        <td>
          <b-form-textarea
            v-model="dados.resp_a"
            type="text"
            rows="3"
            required
            placeholder="Escreva a resposta A aqui."
          ></b-form-textarea>
        </td>
        <td class="align-middle">
          <b-form-radio v-model="dados.correta" value="a">Correta</b-form-radio>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">b)</th>
        <td>
          <b-form-textarea
            v-model="dados.resp_b"
            type="text"
            rows="3"
            required
            placeholder="Escreva a resposta B aqui."
          ></b-form-textarea>
        </td>
        <td class="align-middle">
          <b-form-radio v-model="dados.correta" value="b">Correta</b-form-radio>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">c)</th>
        <td>
          <b-form-textarea
            v-model="dados.resp_c"
            type="text"
            rows="3"
            required
            placeholder="Escreva a resposta C aqui."
          ></b-form-textarea>
        </td>
        <td class="align-middle">
          <b-form-radio v-model="dados.correta" value="c">Correta</b-form-radio>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">d)</th>
        <td>
          <b-form-textarea
            v-model="dados.resp_d"
            type="text"
            rows="3"
            required
            placeholder="Escreva a resposta D aqui."
          ></b-form-textarea>
        </td>
        <td class="align-middle">
          <b-form-radio v-model="dados.correta" value="d">Correta</b-form-radio>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">e)</th>
        <td>
          <b-form-textarea
            v-model="dados.resp_e"
            type="text"
            rows="3"
            required
            placeholder="Escreva a resposta E aqui."
          ></b-form-textarea>
        </td>
        <td class="align-middle">
          <b-form-radio v-model="dados.correta" value="e">Correta</b-form-radio>
        </td>
      </tr>
    </table>

    <button class="mt-2 btn btn-primary" type="submit">Salvar</button>
  </form>
</div>
