<div>
  <h1>Cadastro Simulado</h1>

  <form [formGroup]="formSimuladoCadastro" (ngSubmit)="onSubmit()">
    <div class="">Questão {{ listagem.dados[0].qtdPerguntas + 1 }}</div>
    <!-- IMPLEMENTAR DEPOIS ABAIXO -->
    <!-- <b-form-select
      v-model="dados.materia"
      :options="optionsMateria"
      required
    ></b-form-select> -->
    <div class="form-group">
      <label class="labelCampo" for="">Matéria:</label>
      <select
        formControlName="materia"
        class="form-control"
        name="materia"
        id="materia"
      >
        <option *ngFor="let item of materias">{{ item }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for=""
        >Possui imagem? Se sim coloque o link no campo abaixo:</label
      >
      <input
        type="text"
        class="form-control"
        name="linkImg"
        id="linkImg"
        formControlName="linkImg"
        placeholder="link da imagem"
      />
    </div>

    <div class="form-group">
      <label for="enunciado">Enunciado</label>
      <textarea
        class="form-control"
        id="enunciado"
        rows="10"
        placeholder="Escreva a pergunta aqui."
        formControlName="enunciado"
      ></textarea>
    </div>

    <table class="table">
      <tr>
        <th scope="row" class="align-middle">a)</th>
        <td>
          <div class="form-group">
            <textarea
              class="form-control"
              id="resp_a"
              rows="3"
              placeholder="Escreva a resposta A aqui."
              formControlName="resp_a"
            ></textarea>
          </div>
        </td>
        <td class="align-middle">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="correta"
              id="a"
              value="a"
              formControlName="correta"
            />
            <label class="form-check-label" for="a">
              Correta
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">b)</th>
        <td>
          <div class="form-group">
            <textarea
              class="form-control"
              id="resp_b"
              rows="3"
              placeholder="Escreva a resposta B aqui."
              formControlName="resp_b"
            ></textarea>
          </div>
        </td>
        <td class="align-middle">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="correta"
              id="b"
              value="b"
              formControlName="correta"
            />
            <label class="form-check-label" for="b">
              Correta
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">c)</th>
        <td>
          <div class="form-group">
            <textarea
              class="form-control"
              id="resp_c"
              rows="3"
              placeholder="Escreva a resposta C aqui."
              formControlName="resp_c"
            ></textarea>
          </div>
        </td>
        <td class="align-middle">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="correta"
              id="c"
              value="c"
              formControlName="correta"
            />
            <label class="form-check-label" for="c">
              Correta
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">d)</th>
        <td>
          <div class="form-group">
            <textarea
              class="form-control"
              id="resp_d"
              rows="3"
              placeholder="Escreva a resposta D aqui."
              formControlName="resp_d"
            ></textarea>
          </div>
        </td>
        <td class="align-middle">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="correta"
              id="d"
              value="d"
              formControlName="correta"
            />
            <label class="form-check-label" for="d">
              Correta
            </label>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="row" class="align-middle">e)</th>
        <td>
          <div class="form-group">
            <textarea
              class="form-control"
              id="resp_e"
              rows="3"
              placeholder="Escreva a resposta E aqui."
              formControlName="resp_e"
            ></textarea>
          </div>
        </td>
        <td class="align-middle">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="correta"
              id="e"
              value="e"
              formControlName="correta"
            />
            <label class="form-check-label" for="e">
              Correta
            </label>
          </div>
        </td>
      </tr>
    </table>

    <button class="mt-2 btn btn-primary" type="submit">Salvar</button>
  </form>
</div>
