<div class="footer noprint">
  <div class="row flex-center">
    <div class="col-11">
      Copyright © Associação Paideia - Todos os direitos reservados
    </div>
    <div class="col-1">
      <a href="https://www.facebook.com/focuscursinho/" target="_blank">
        <img
          right
          src="http://2015.igem.org/wiki/images/e/ed/Harvard2015Facebookwhite.png"
          width="38"
          height="38"
          style="display: block;"
        />
      </a>
    </div>
  </div>
</div>
