.footer {
  background-color: #86c540; /*verde claro*/
  color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: block;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  padding: 15px;
  margin-top: 50px;
}
@media print {
  .noprint {
    visibility: hidden;
  }
}
