<div>
    <!-- <b-form v-on:submit.prevent="enviarDadosPessoais"> -->
    <form [formGroup]="formPessoal" (ngSubmit)="onSubmit()">
        <!--dados pessoais-->
        <div class="col-sm-12 text-center">
            <h2>DADOS PESSOAIS</h2>
        </div>
        <div class="row">

            <div class="col-sm-12 text-center">
                <div show class="alert alert-danger" role="alert">
                  <b>ATENÇÃO! </b>O CARTÃO CIDADÃO DEVE ESTAR EM DIA, DO CONTRÁRIO A INSCRIÇÃO SERÁ CANCELADA!
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                  <label class="labelCampo" for="">Nome:</label>
                    <input type="text" formControlName="nome_completo" class="form-control"
                      placeholder="Nome completo" name="nome_completo" id="nome_completo">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label class="labelCampo" for="" >Data Nascimento:</label>
                      <input type="text" formControlName="data" class="form-control" [textMask]="{mask: data}"
                        placeholder="dd/mm/aaaa" name="data" id="data">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="labelCampo" for="" >Cidade Nascimento:</label>
                    <input type="text" formControlName="cidade" class="form-control"
                      placeholder="Ex: Louveira" name="cidade" id="cidade">
                </div>
            </div>

            <div class="col-sm-2">
                <!--select para estado-->
                <div class="form-group">
                    <label class="labelCampo" for="" >Estado:</label>
                    <select formControlName="estado" class="form-control" name="estado" id="estado">
                      <option *ngFor="let item of estados">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label class="labelCampo" for="" >Telefone 1:</label>
                    <input type="text" formControlName="tel1" class="form-control" [textMask]="{mask: telefone}"
                      placeholder="DDD+número fixo ou celular" name="tel1" id="tel1">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label class="labelCampo" for="" >Telefone 2:</label>
                    <input type="text" formControlName="tel2" class="form-control" [textMask]="{mask: telefone}"
                      placeholder="DDD+número fixo ou celular" name="tel2" id="tel2">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="labelCampo" for="" >CPF:</label>
                    <input type="text" formControlName="cpf" class="form-control" [textMask]="{mask: cpf}"
                      placeholder="000.000.000-00" name="cpf" id="cpf">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="labelCampo" for="" >RG:</label>
                    <input type="text" formControlName="rg" class="form-control" [textMask]="{mask: rg}"
                      placeholder="00.000.000-0" name="rg" id="rg">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="labelCampo" for="" >Cartão Cidadão (Louveira):</label>
                    <input type="text" formControlName="cidadao" class="form-control" [textMask]="{mask: cidadao}"
                      name="cidadao" id="cidadao">
                  </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mt-2" type="submit">Salvar Dados Pessoais</button>
        </div>
      </form>
  </div>
