<h1>
  RESULTADO SIMULADO
</h1>

<table class="text-center table table-sm table-bordered table-striped">
  <thead>
    <tr>
      <!-- <th class="cabecalho">MATRÍCULA</th> -->
      <th class="cabecalho">NOME</th>
      <th class="cabecalho">FÍSICA</th>
      <th class="cabecalho">BIOLOGIA</th>
      <th class="cabecalho">MATEMÁTICA</th>
      <th class="cabecalho">HISTÓRIA</th>
      <th class="cabecalho">QUÍMICA</th>
      <th class="cabecalho">GEOGRAFICA</th>
      <th class="cabecalho">PORTUGUÊS</th>
      <!-- <th class="cabecalho">GRAMÁTICA</th>
      <th class="cabecalho">SOCIOLOGIA</th>
      <th class="cabecalho">FILOSOFIA</th>
      <th class="cabecalho">ARTES</th>
      <th class="cabecalho">INGLÊS</th> -->
      <th class="cabecalho">TOTAL</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of itens">
      <!-- <td>{{ item.matricula }}</td> -->
      <td>{{ item.nome }}</td>
      <td>{{ item.qtdFisica }}/10</td>
      <td>{{ item.qtdBiologia }}/10</td>
      <td>{{ item.qtdMatematica }}/10</td>
      <td>{{ item.qtdHistoria }}/10</td>
      <td>{{ item.qtdQuimica }}/10</td>
      <td>{{ item.qtdGeografia }}/10</td>
      <td>{{ item.qtdGramatica }}/10</td>
      <!-- <td>{{ item.qtdSociologia }}/2</td>
      <td>{{ item.qtdFilosofia }}/2</td>
      <td>{{ item.qtdArtes }}/2</td>
      <td>{{ item.qtdIngles }}/9</td> -->
      <td>{{ item.qtdTotal }}/70</td>
    </tr>
  </tbody>
</table>
