<h1>
  RESULTADO SIMULADO
</h1>

<table
  class="text-center table table-responsive-sm table-sm table-bordered table-striped"
>
  <thead>
    <tr>
      <th class="cabecalho">NOME COMPLETO</th>
      <th class="cabecalho">MATÉRIA</th>
      <th class="cabecalho">ACERTOS</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of listagem.dados">
      <td>{{ item.nome }} {{ item.sobrenome }}</td>
      <td>{{ item.materia }}</td>
      <td>{{ item.acertou }}</td>
    </tr>
  </tbody>
</table>

{{ listagem | json }}
