<div class="text-center">
  <div class="mt-4 mb-4">
    <h5>Para ficar por dentro das noticias, curta nossa página no Facebook!</h5>
  </div>
  <div>
    <div
      class="fb-page"
      data-href="https://www.facebook.com/pg/focuscursinho"
      data-tabs="timeline"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/pg/focuscursinho"
        class="fb-xfbml-parse-ignore"
      >
        <a href="https://www.facebook.com/pg/focuscursinho">Focus Cursinho</a>
      </blockquote>
    </div>
  </div>
</div>
