#termo {
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 21px;
}
ol li {
  font-weight: bold;
  margin-top: 14px;
}
ol {
  padding-top: 7px;
  padding-bottom: 14px;
}

.bordas {
  border-color: black;
  border-width: 1px;
  border-style: groove;
}
.sem_borda {
  border: none;
}
.alternativa {
  font-size: 107%;
  font-weight: bold;
}
.questao {
  font-size: 115%;
}
.radio {
  margin-left: 1px;
}
@media (max-width: 767px) {
  .radio {
    margin-left: 12px;
  }
  .ques {
    visibility: hidden;
  }
}

/*AJUSTAR CLASSE ABAIXO PARA MOBILE*/
.tamanho_quadro {
  padding: 3.5% !important;
}
