#termo {
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 21px;
}

ol li {
  font-weight: bold;
  margin-top: 14px;
}

ol {
  padding-top: 7px;
  padding-bottom: 14px;
}

.bordas {
  border-color: gray;
  border-width: 0.3px;
  border-style: groove;
}

table tbody tr td {
  /* border-color: black;
  border-width: 0.5px;
  border-style: solid; */
  border: 0.3px solid gray
}

.sem_borda {
  border: none;
}

.alternativa {
  font-size: 115%;
  font-weight: bold;
}

.questao {
  font-size: 115%;
}

.radio {
  margin-left: 1px;
}

@media (max-width: 767px) {
  .radio {
    margin-left: 12px;
  }

  .ques {
    visibility: hidden;
  }
}

/*AJUSTAR CLASSE ABAIXO PARA MOBILE*/
.tamanho_quadro {
  padding: 3.5% !important;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-align {
  display: flex;
  align-items: center;
}
