<div>
  <h1>TOTAL DE ACERTOS</h1>

  <table
    class="text-center table table-responsive-sm table-sm table-bordered table-striped"
  >
    <thead>
      <tr>
        <th class="cabecalho">ÁREAS DO CONHECIMENTO</th>
        <th class="cabecalho">ACERTOS</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Física</td>
        <td>{{ qtdFisica }} de 5</td>
      </tr>
      <tr>
        <td>Biologia</td>
        <td>{{ qtdBiologia }} de 5</td>
      </tr>
      <tr>
        <td>Matemática</td>
        <td>{{ qtdMatematica }} de 5</td>
      </tr>
      <tr>
        <td>História</td>
        <td>{{ qtdHistoria }} de 5</td>
      </tr>
      <tr>
        <td>Química</td>
        <td>{{ qtdQuimica }} de 5</td>
      </tr>
      <tr>
        <td>Geografia</td>
        <td>{{ qtdGeografia }} de 5</td>
      </tr>
      <tr>
        <td>Gramática</td>
        <td>{{ qtdGramatica }} de 5</td>
      </tr>
      <tr>
        <td>Sociologia</td>
        <td>{{ qtdSociologia }} de 2</td>
      </tr>
      <tr>
        <td>Filosofia</td>
        <td>{{ qtdFilosofia }} de 2</td>
      </tr>
      <tr>
        <td>Artes</td>
        <td>{{ qtdArtes }} de 2</td>
      </tr>
      <tr>
        <td>Inglês</td>
        <td>{{ qtdIngles }} de 9</td>
      </tr>
    </tbody>
  </table>

  <div>TOTAL: {{ qtdTotal }} de 50</div>
  <br />
  <div class="text-center">
    <h4>EM BREVE SERÁ LIBERADO O GABARITO COMPLETO!</h4>
  </div>
</div>
