<div class="mt-4 border" id="painel">
  <div cols="12" class="mt-2">
    <h2 class="text-center">Processo Seletivo 2019</h2>
  </div>
  <div class="row text-center">
    <div class="col-sm-4 mt-5">
      <a href="../../../../../assets/pdf/informacoes.pdf" target="_blank">
        <div class="col-12">
          <img src="../../../../../assets/informacoes/info_basica.png" alt="" />
        </div>
        <div class="mt-2 col-12">
          INFORMAÇÕES BÁSICAS
        </div>
      </a>
    </div>
    <div class="col-sm-4 mt-5">
      <a href="../../../../../assets/pdf/edital.pdf" target="_blank">
        <div cols="12">
          <img src="../../../../../assets/informacoes/edital.png" alt="" />
        </div>
        <div cols="12" class="mt-2">
          EDITAL/MANUAL
        </div>
      </a>
    </div>
    <div class="col-sm-4 mt-5">
      <a href="../../../../../assets/pdf/REQUERIMENTO - 2018.pdf" target="_blank">
        <div cols="12">
          <img
            src="../../../../../assets/informacoes/requerimento.png"
            alt=""
          />
        </div>
        <div class="col-12 mt-2">
          REQUERIMENTO
        </div>
      </a>
    </div>
    <div class="col-12 mt-5 mb-2">
      <a href="/perguntas" target="_blank">
        <div cols="12">
          <img
            src="../../../../../assets/informacoes/perguntas_frequentes.png"
            alt=""
          />
        </div>
        <div class="col-12 mt-2">
          PERGUNTAS FREQUENTES
        </div>
      </a>
    </div>
  </div>
</div>
